<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>170535563721-qnq8je7ojfkpol390gphglphnt50dhh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.170535563721-qnq8je7ojfkpol390gphglphnt50dhh4</string>
	<key>API_KEY</key>
	<string>AIzaSyA_hP9hek2_lWcNm2S44_U4m2uOd8_zUl0</string>
	<key>GCM_SENDER_ID</key>
	<string>170535563721</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tasky</string>
	<key>PROJECT_ID</key>
	<string>tasky-53f38</string>
	<key>STORAGE_BUCKET</key>
	<string>tasky-53f38.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:170535563721:ios:cd044d5212cca0fd10b818</string>
</dict>
</plist>